<%- include('../partials/header') %>
<main>
    <img src="/images/<%= faculty.image %>" alt="<%= faculty.name %>">
    <h1><%= faculty.name %></h1>
    <p><%= faculty.office %></p>
    <p><%= faculty.phone %></p>
    <p><%= faculty.email %></p>
    <p><%= faculty.department %></p>
    <p><%= faculty.title %></p>

    <div class="navigation">
        <p><a href="/list">&larr; Back to Faculty Directory</a></p>
    </div>
</main>
<%- include('../partials/footer') %>
